<% if current_user %>
  <table class="table table-dark table-striped-columns table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Last Login Time</th>
        <th>Registration Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.fullname %></td>
          <td><%= user.email %></td>
          <td><%= user.last_sign_in_at %></td>
          <td><%= user.created_at %></td>
          <td class="d-flex">
            <%= button_to "Unblock", admin_unban_user_path(user), class: user.access_locked? ? 'mx-2 btn btn-success' : 'mx-2 btn disable', method: :post %>

            <%= button_to "Block", admin_ban_user_path(user),class: user.access_locked? ? 'mx-2 btn disable' : 'mx-2 btn btn-primary' ,method: :post %>

            <%= form_with url: admin_path(user), class: 'px-2', method: :delete do %>
              <%= submit_tag 'Delete', class: 'delete-button btn btn-warning' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You need to be authenticated to access the user management.</p>
<% end %>

