<% if current_user %>
  <table class="table table-dark table-striped-columns table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Last Login Time</th>
        <th>Registration Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.fullname %></td>
          <td><%= user.email %></td>
          <td><%= user.last_sign_in_at %></td>
          <td><%= user.created_at %></td>
          <td class="d-flex">
            <%= form_with url: block_admin_path(user), class: 'px-2', method: :put do %>
              <% if user.rebuff %>
                <%= submit_tag 'Block', class: 'block-button btn btn-secondary disabled' %>
              <% else %>
                <%= hidden_field_tag :rebuff, true %>
                <%= submit_tag 'Block', class: 'block-button btn btn-danger' %>
              <% end %>
            <% end %>

            <%= form_with url: unblock_admin_path(user), class: 'px-2', method: :put do %>
              <% if user.rebuff  %>
                <%= hidden_field_tag :rebuff, false %>
                <%= submit_tag 'Unblock', class: 'unblock-button btn btn-info' %>
              <% else %>
                <%= submit_tag 'Unblock', class: 'unblock-button btn btn-secondary disabled' %>
              <% end %>
            <% end %>

            <%= form_with url: admin_path(user), class: 'px-2', method: :delete do %>
              <%= submit_tag 'Delete', class: 'delete-button btn btn-warning' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You need to be authenticated to access the user management.</p>
<% end %>

