<% if current_user %>
  <table class="table table-dark table-striped-columns table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Last Login Time</th>
        <th>Registration Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.fullname %></td>
          <td><%= user.email %></td>
          <td><%= user.last_sign_in_at %></td>
          <td><%= user.created_at %></td>
          <td class="d-flex">
            <%= button_tag 'Block', block_user_path(user), class: 'block-button btn btn-primary', method: :patch %>
            <%= button_tag 'Unblock', unblock_user_path(user), class: 'unblock-button btn btn-success', method: :patch %>
            <%= form_with url: admin_path(user), class: 'px-2', method: :delete do %>
              <%= submit_tag 'Delete', class: 'delete-button btn btn-warning' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You need to be authenticated to access the user management.</p>
<% end %>

